.modal-p{
    padding: 5px;
    border-radius: 3px;
    background-color: brown;
    color: white;
}
.modal-close{
    padding: 5px;
    border-radius: 3px;
    background-color: brown;
    color: white;
}
.content{
    margin-top:20px;
    /* text-align:center; */
    font-size:2em;
    background-color: rgb(86, 140, 122);
    border: 2px solid rgb(122, 120, 120);
    height: 300px;
    width: 700px;
}